<a href="/food/<%=food.id%>">
    <div class="foodContentElement">
        <div class="foodContentText">
            <span>Address: <%=food.address%></span>
        </div>
        <div class="foodContentImage">
<<<<<<< HEAD
            <img src='<%=food.foodImagePath%>' height="200px" width="200px">
=======
            <img src='<%=food.imagePath %>' height="200px" width="200px">
>>>>>>> 8f6380c39e3a0fe0732491e11848e99effdc6633
        </div>
        <div class="foodContentRow">
            <div class="foodContentName">
                <p><%= food.name %></p>
            </div>
        </div>
        <div class="foodContentRow">
            <div class="foodContentShopName">
                <p>from <span><%= food.shopName %></span></p>
            </div>
        </div>
        <div class="foodContentRow">
            <div class="foodContentPrice">
                <span>~ $<%=food.price%>/pax</span>
            </div>
            <div class="foodContentRatings">
                <span>
                    <%- include('../partials/convertStars.ejs', {food: food})%>
                </span>
            </div>
        </div>
    </div>
</a>