<div class="inputFields">
    <% if (action == 'new') { %>
        <form action="/new" method="POST">
            <%- include('./partials/foodForm.ejs') %>
        </form>
        <form action="/newShop" method="POST">
            <%- include('./partials/shopForm.ejs') %>
        </form>
    <% }  else if (form == 'food') { %>
            <form action="/food/<%=food.id%>?_method=PUT" method="POST">
                <%- include('./partials/foodForm.ejs') %>
            </form>            
        <% } else { %>
            <form action="/shop/<%=shop.id%>?_method=PUT" method="POST">
                <%- include('./partials/shopForm.ejs') %>
            </form>
            <script>
                var inputForNewShop = document.getElementsByClassName('inputForNewShop')[0]
                console.log(inputForNewShop)
                inputForNewShop.style.display = 'block'
            </script>
        <% } %>

    
</div>
