<div class="contentHead">
    <h2>All Food</h2>
</div>

<div>
    <h3>Looking for something?</h3>
    <form class="searchBar">
        <div class="searchOption">
            <div class="searchOptionText">
                <input type="text" name="keyword" placeholder="Filter by Keyword">
            </div>
        </div>
        <div class="searchOption">
            <div id="type" class="searchOptionToggle">
                <label>Filter by Type</label>
                <div class="shiftImageToRight">
                    <img src="/images/arrowDown.png">
                </div>
            </div>
            <div class="searchOptionElements searchType">
                <% var allTypes = ['Buffet', 'Japanese', 'Chinese', 'Thai', 'Vietnamese', 'Western', 'Korean', 'Malay', 'Indian', 'Halal', 'Burgers', 'Hawker', 'Restaurant', 
                'Desserts', 'Local Delights', 'Pasta', 'Mexican', 'Cafes', 'Unique'] %>
                <% var index = 1 %>
                    <% allTypes.forEach(type => { %>
                        <div class="searchOptionElement">
                            <input type="checkbox" id="type<%=index%>" name="type" value="<%=type%>">
                            <label for="type<%=index%>"><%=type%></label>
                        </div>
                        <% index += 1 %>
                    <% }) %>
            </div>
        </div>
        <div class="searchOption">
            <div id="location" class="searchOptionToggle">
                <label>Filter by Location</label>
                <div class="shiftImageToRight">
                    <img src="/images/arrowDown.png">
                </div>                
            </div>
            <div class="searchOptionElements searchLocation">
                <%- include('../partials/locations.ejs') %>
            </div>
        </div>
        <div class="searchOption">
            <div id="ratings" class="searchOptionToggle">
                <label>Filter by Ratings</label>
                <div class="shiftImageToRight">
                    <img src="/images/arrowDown.png">
                </div>  
            </div>
            <div class="searchOptionElements searchRatings">
                <div class="searchOptionElement">
                    <input type="checkbox" id="ratings1" name="ratings" value="1 Star">
                    <label for="ratings1">1 Star</label>
                </div>
                <div class="searchOptionElement">
                    <input type="checkbox" id="ratings2" name="ratings" value="2 Star">
                    <label for="ratings2">2 Star</label>
                </div>
                <div class="searchOptionElement">
                    <input type="checkbox" id="ratings3" name="ratings" value="3 Star">
                    <label for="ratings3">3 Star</label>
                </div>
                <div class="searchOptionElement">
                    <input type="checkbox" id="ratings4" name="ratings" value="4 Star">
                    <label for="ratings4">4 Star</label>
                </div>
                <div class="searchOptionElement">
                    <input type="checkbox" id="ratings5" name="ratings" value="5 Star">
                    <label for="ratings5">5 Star</label>
                </div>
            </div>
        </div>
        <button class="searchButton" type="submit"><img src="images/searchIcon.png"></button>
    </form>
</div>

<div class="allFoodContent">
    <% foods.forEach(food => { %>
        <a href="/food/<%=food.id%>">
            <div class="foodContentElement">
                <div class="foodContentText">
                    <span>Address: <%=food.address%></span>
                </div>
                <div class="foodContentImage">
                    <img src='images/foodImages/<%=food.foodImage %>' height="200px" width="200px">
                </div>
                <div class="foodContentRow">
                    <div class="foodContentName">
                        <p><%= food.name %></p>
                    </div>
                </div>
                <div class="foodContentRow">
                    <div class="foodContentShopName">
                        <p>from <span><%= food.shopName %></span></p>
                    </div>
                </div>
                <div class="foodContentRow">
                    <div class="foodContentPrice">
                        <span>~ $<%=food.price%>/pax</span>
                    </div>
                    <div class="foodContentRatings">
                        <span>
                            <% if (food.ratings == '1 Star') { %>
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                            <% } else if (food.ratings == '2 Star') { %>
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                            <% } else if (food.ratings == '3 Star') { %>
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                            <% } else if (food.ratings == '4 Star') { %>
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/emptyStar.png" height="18px" width="18px">
                            <% } else { %>
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                                <img src="images/star.png" height="18px" width="18px">
                            <% } %>
                        </span>
                    </div>
                </div>
            </div>
        </a>
    <% }) %>
</div>