<script defer src="/javascripts/show.js"></script>
<div class="showContent">
    <div class="showFoodContentContainer">
        <div class="showFoodContent">
            <div class="header">
                <div>
                    <h2><%=shop.shopName%></h2>
                </div>
                <div class="showFoodContentText">
                    <span>
                        <a href="/shop/<%=shop.id%>/edit">
                            <button class="edit">Edit</button>
                        </a>
                    </span>
                    <span>
                        <button class="delete">Delete</button>
                    </span>
                    <div class="deleteConfirmationText">This will permanently delete the item. Are you sure?</div>
                    <div class="deleteConfirmationBox">
                        <span>
                            <form action="/shop/<%=shop.id%>?_method=DELETE" method="POST">                           
                                <button class="deleteYes" type="submit">Yes</button>
                            </form>
                        </span>
                        <span>
                            <button class="deleteNo">No</button>
                        </span>
                    </div>
                </div>
                <div>
                    <img src='<%=shop.foodImagePath%>' height='400px' width='400px'>
                </div>

            </div>
            <% if (shop.errorMessage) { %>
                <div class="showErrorMessage"><%=shop.errorMessage%></div>
            <% } %>
            <div class="body">
                <div class="flexRow">
                    <p>Address: </p>
                    <span><%= shop.address %></span>
                </div>
                <div class="flexRow">
                    <p>Ratings: </p>
                    <span><%-include('../partials/convertStars.ejs', {item: shop}) %></span>
                </div>
                <div class="flexRow">
                    <p>Price: </p>
                    <span>$<%= shop.priceRange %>/pax</span>
                </div>
                <div class="flexRow">
                    <p>Tags: </p>
                    <span>
                        <% shop.type.forEach(type => { %>
                            <%=type%> 
                        <% }) %>
                    </span>
                </div>
                <div class="flexRow">
                    <p>Date added: </p>
                    <% var shopDate = shop.date.toDateString().split(' ') %>
                    <% shopDate = `${shopDate[1]} ${shopDate[2]} ${shopDate[3]}`%>
                    <span><%=shopDate%></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="showSwiperContainer">
        <div class="shopName">
            <h2>Food Items from <%=shop.shopName%></h2>
        </div>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <% shop.food.forEach(food => { %>
                    <div class="swiper-slide" style="background-image:url(<%=food.foodImagePath%>)">
                        <div class="swiper-content">
                            <img src='<%=food.foodImagePath%>'>
                            <div class="swiper-details">
                                <h3><%=food.name%></h3>
                                <h5>Ratings</h5>
                                <p><%=food.ratings%> Star</p>
                                <h5>Price</h5>
                                <p>$<%=food.price%></p>
                                <h5>Tags</h5>
                                <p><%=food.type%></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
                
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            
          </div>
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <% shop.food.forEach(food => { %>
                    <div class="swiper-slide" style="background-image:url(<%=food.foodImagePath%>);"></div>
                <% }) %>
            </div>
          </div>
          
    </div>


</div>